<?xml version='1.0' encoding='utf-8'?>
<Settings Version='1'>
    <Namespace Name='Extensions'>
        <Setting Name='ExtensionRepository' Type='VT_BSTR' Value='Implicit'></Setting>
        <Namespace Name='ExtensionRepositories'>
            <Namespace Name='overgallery'>
                <Setting Name='Id' Type='VT_BSTR' Value='458940FE-5649-40DD-AD18-6AC36215BD86'></Setting>
                <Setting Name='LocalCacheRootFolder' Type='VT_BSTR' Value='C:\work\Bugalua\Manifest'></Setting>
                <Setting Name='IsEnabled' Type='VT_BOOL' Value='true'></Setting>
            </Namespace>
        </Namespace>
    </Namespace>
</Settings>
